.App {
  text-align: center;
  .install-btn {
    position: fixed;
    top: 0;
    .overlay {
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.7);
      z-index: 10;
    }
    button {
      position: fixed;
      top: calc(50vh - 28px);
      left: calc(50vw - 44px);
      color: white;
      font-size: 36px;
    }
  }
}
